.flexbox {
    display:flex;
}
.game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    width: 800px;

}
.piece {
    margin: 2px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid white;

}